.cartDetails {
  padding-right: 5px;
  /* margin-bottom: 9px; */
}

.cartHeading {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}

.cart {
  font-size: 10px;
  margin-bottom: 0px;
}

.cartBtn {
  background-color: transparent;
  border-width: 0;
}
